#container {
    background-color: red;
    height: 192px;
    width: 192px;
}
.unit {
    background-color: blue;
    height: 10px;
    width: 10px;
    margin: 1px;
    display: inline-block;
    float: left

}

.unit:hover{
   background-color:#FF0000;
}

div.permahover {
    background-color:#FF0000;}