#container {
    width: 600px;
    height: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid black;
}
.unit {
  display: block;
  float: left;
  vertical-align: bottom;
  box-sizing: border-box;

}

.unit:hover{
   background-color:#FF0000;
}

div.permahover {
    background-color:#FF0000;}

.clear {
  display: block;
  text-align: center;
  margin: 0 auto;
}